
  <div class="px-10">
    <h1 class="text-lg font-bold ">Abaut</h1>
    <p class="text-ms">Lorem ipsum dolor sit amet, <span highlight> pinpon es un muñeco muy guapo y de carton </span>
      consectetur adipisicing elit. Accusamus accusantium ad alias amet aut, delectus eveniet expedita illo illum
      inventore laudantium magni maxime numquam ratione sint tempore voluptate voluptatem, voluptates?</p>
    <p class="text-xs">Numero de visitas:
      <app-counter [duration]="duration()" [message]="message()"/>
    </p>
  </div>





